/* ------------

css table of contents

#GLOBAL css
    #BODY
    #TYPOGRAPHY
        # BODY
        # HEADINGS
        # LINKS
        # HORIZ RULE
        # TYPE SPECIMEN
    # BUTTONS
    #M EDIA
        # IMG
    # LAYOUT
        # MEDIA QUERIES
        # CONTAINER
        # RESPONSIVE TYPE
    # GRID
        # SEMANTIC COLUMNS
        # LAYOUT HELPERS (SWAP, CENTER)
    # STRUCTURE
        # SITE HEADER
        # SITE FOODER
        # SITE NAV
        # SECTIONS
            # HERO SECTIONS
            
    ---------------------------*/
/* BODY */
body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.85); }

/* HEADINGs */
h1, h2, h3 {
  font-family: poynter-oldstyle-display, serif;
  margin: .5em 0;
  font-weight: 400; }

h1 {
  font-size: 2.5em;
  line-height: 1;
  font-weight: 700; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 35em; }

h3.sectionhead {
  font-size: "Roboto", sans-serif;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em; }

.sectionhead:after {
  display: block;
  content: "";
  width: 120px;
  border: 3px solid #74c5c5;
  margin: 1em auto 2.5em auto; }

.meta {
  font-size: .8em;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  text-transform: uppercase; }

p.meta {
  max-width: 100%; }

/* Links */
a {
  color: #58dbf9; }

a:hover {
  color: #035; }

/* HORIZONTAL RULE */
hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin: 3em 0; }

blockquote {
  max-width: 20em;
  font-style: italic;
  color: grey; }

/* TYPE SPECIMEN */
.mainhead {
  font-family: poynter-oldstyle-display, serif;
  font-size: 5em;
  color: #74c5c5;
  margin-bottom: 0; }

.subhead {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1em; }

/* BUTTONS */
button,
.button {
  line-height: 1;
  font-family: poynter-oldstyle-display, serif;
  font-size: inherit;
  background-color: gray;
  color: #fff;
  padding: .5em 1.2em;
  display: inline-block;
  margin: .5em;
  border-radius: .5em; }
  button:hover,
  .button:hover {
    background-color: #b9b9b9;
    color: #b9b9b9; }
  button.dark,
  .button.dark {
    line-height: 1;
    font-family: poynter-oldstyle-display, serif;
    font-size: inherit;
    background-color: transparent;
    color: white;
    padding: .5em 1.2em;
    display: inline-block;
    margin: .5em;
    border-radius: .5em;
    border: 1px solid white;
    text-decoration: none; }
    button.dark:hover,
    .button.dark:hover {
      background-color: white;
      color: black; }

/* Responsive Images */
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px -50; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; } }

/* Grid */
.row .column {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row .center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .row .column {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 1%; }
      .row .column.one-half {
        width: 50%; }
      .row .column.one-third {
        width: 33.3333%; }
      .row .column.two-thirds {
        width: 66.6666%; }
      .row .column.one-fourth {
        width: 25%; } }

.row.demo .column {
  background: rgba(175, 175, 175, 0.5);
  padding: 1em;
  text-align: center; }

/* site header */
.site-header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding: 1.5em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .site-header h1 {
    font-size: 1em;
    font-family: "Roboto", sans-serif; }
  .site-header a {
    color: #fff;
    text-decoration: none; }

/* site nav */
.site-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center; }
  .site-nav ul {
    background: #ff5d78;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none; }
  .site-nav a {
    display: block;
    padding: 1em; }
  .site-nav.active {
    height: 100%;
    background: pink; }
    .site-nav.active ul {
      display: block; }

/* MENU BUTTON */
.menu-button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  cursor: pointer; }

section {
  padding: 2em 4em;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center; }

/* HERO SECTION */
.hero {
  background-color: #000001;
  background-size: cover;
  padding: 6em 1em;
  color: #fff; }
  .hero p {
    margin-left: auto;
    margin-right: auto; }
  .hero h2 {
    font-size: 4em; }

/* FOOTER */
.site-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 6em;
  background-color: #000; }

/* LAYOUT */
@media (min-width: 768px) {
  #layout .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #layout .image-block {
    width: 50%; }
  #layout .text-block {
    width: 50%;
    -webkit-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    transform: translateX(-2em); } }

@media (min-width: 768px) {
  .split-crossed-left .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .split-crossed-left .image-block {
    width: 50%; }
  .split-crossed-left .text-block {
    width: 50%;
    -webkit-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    transform: translateX(-2em); } }

@media (min-width: 768px) {
  .split-crossed-reversed .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .split-crossed-reversed .image-block {
    width: 50%; }
  .split-crossed-reversed .text-block {
    width: 50%;
    -webkit-transform: translateX(2em);
    -ms-transform: translateX(2em);
    transform: translateX(2em); } }
